@model IEnumerable<MVCLab.Models.Company>

<h2>Companies</h2>
<a asp-action="Create" class="btn btn-primary">Create New Company</a>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Date Start</th>
            <th>Address</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var company in Model)
        {
            <tr>
                <td>@company.Name</td>
                <td>@company.Type</td>
                <td>@company.DateStart.ToShortDateString()</td>
                <td>@company.Address</td>
                <td>
                    <a asp-action="GetById" asp-route-id="@company.Id" class="btn btn-info">Details</a>
                    <a asp-action="Update" asp-route-id="@company.Id" class="btn btn-warning">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
